::root
	--plyr-video-background: transparent

.lottie
	width: 100%
	svg
		width: 100%
		height: auto

.bg
	&--black
		background-color: $color-black-bg

.grecaptcha-badge
	visibility: hidden

.section, .main, body, html
	background: #efebe2

.no-scroll
	overflow: hidden !important


