
//typography
$default-font-size: 18px
$large-font-size: 20px
$default-line-height: 1.33em
$default-text-color: #2D4C42
$font-family-base: 'GillSansLight', sans-serif
$font-family-gillsans: 'GillSans', sans-serif
$font-family-denver: 'DenverSerial', sans-serif
$font-family-giveny: 'Giveny', sans-serif
$font-family-linotypedidot: 'LinotypeDidot', sans-serif
$font-family-ogg: 'Ogg', sans-serif
$font-family-ogg-italic: 'Ogg Italic', sans-serif
$font-family-futurapt: 'FuturaPT', sans-serif
$font-family-gilroy: 'Gilroy', sans-serif
$default-transition-duration: 0.4s
$default-transition-function: ease-out
$default-transition: 0.4s ease-out


//breakpoints
$breakpoint-xxl: 1735px
$breakpoint-xl: 1440px
$breakpoint-lg: 992px
$breakpoint-md: 769px
$breakpoint-sm: 576px
$breakpoint-xs: 576px

$grid-gutter: 30px


// colors
$color-green: #2D4C42
$color-brown: #C1AD8A
$color-light-brown: #E6DBBF

// boder colors
$border-color-green: #2E4D43
$border-color-brown: #EDE5D5



$color-primary: #3B6DEC //blue



$color-white: #FFFFFF
$color-white-grey: #F5F5F5
$color-grey: #EFEEEC
$color-yellow: #e2d3b8
$color-black: #333333
$color-black-bg: #1B1B1B

