section.banner-with-text
    .banner-with-text
        &__wrap
        &__slider
            .slider-item
                display: block !important
                position: relative
                overflow: hidden
                min-height: 600px
                height: 100vh
                +max-screen($breakpoint-lg)
                    min-height: 520px
                +max-screen($breakpoint-md)
                    min-height: 450px
                &__wrap
                    position: relative
                    width: 100%
                    height: 100%
                    display: flex
                    flex-direction: column
                    align-items: center
                    justify-content: center
                    z-index: 5
                    padding: 0 25px
                    .paulo-airaudo-page &
                        align-items: flex-start
                        +max-screen($breakpoint-lg)
                            align-items: center
                &__bg
                    position: absolute
                    top: 0
                    left: 0
                    width: 100%
                    height: 100%
                    img
                        width: 100%
                        height: 100%
                        object-fit: cover
                &__title
                    font-family: $font-family-ogg
                    font-size: 120px
                    color: #E5E3DA
                    text-align: center
                    +max-screen($breakpoint-xxl)
                        font-size: calc((120px / 100) * 85)
                    +max-screen($breakpoint-xl)
                        font-size: calc((120px / 100) * 75)
                    +max-screen($breakpoint-lg)
                        font-size: calc((120px / 100) * 65)
                    +max-screen($breakpoint-md)
                        font-size: 62px
                    .home &
                        margin-left: -70px
                        +max-screen($breakpoint-xxl)
                            margin-left: calc((-70px / 100) * 90)
                        +max-screen($breakpoint-xl)
                            margin-left: calc((-70px / 100) * 80)
                        +max-screen($breakpoint-lg)
                            margin-left: 0
                    .allure-page &
                        font-family: $font-family-linotypedidot
                        font-size: 101px
                        color: $color-brown
                        text-align: left
                        +max-screen($breakpoint-xxl)
                            font-size: calc((101px / 100) * 90)
                        +max-screen($breakpoint-xl)
                            font-size: calc((101px / 100) * 80)
                        +max-screen($breakpoint-lg)
                            font-size: calc((101px / 100) * 70)
                        +max-screen($breakpoint-md)
                            font-size: calc((101px / 100) * 50)
                            margin-top: 230px
                        +max-screen($breakpoint-sm)
                            font-size: calc((101px / 100) * 40)
                    .lucas-page &, .paulo-airaudo-page &
                        font-family: $font-family-giveny
                        font-size: 57px
                        font-weight: 400
                        letter-spacing: unset
                        line-height: 1.17
                        text-align: center
                        max-width: 707px
                        width: 100%
                    span
                        display: block
                        font-family: $font-family-base
                        font-size: 50px
                        font-weight: 300
                        letter-spacing: 3.15px
                        +max-screen($breakpoint-xxl)
                            font-size: calc((50px / 100) * 85)
                        +max-screen($breakpoint-xl)
                            font-size: calc((50px / 100) * 75)
                        +max-screen($breakpoint-lg)
                            font-size: calc((50px / 100) * 65)
                        +max-screen($breakpoint-md)
                            font-size: 29px
                        .home &
                            margin-left: 70px
                            +max-screen($breakpoint-xxl)
                                margin-left: calc((70px / 100) * 90)
                            +max-screen($breakpoint-xl)
                                margin-left: calc((70px / 100) * 80)
                            +max-screen($breakpoint-lg)
                                margin-left: 0
                                margin-bottom: 20px
                            +max-screen($breakpoint-md)
                        .allure-page &
                            display: block
                            font-family: $font-family-futurapt
                            font-size: 35px
                            letter-spacing: unset
                            font-weight: 300
                            +max-screen($breakpoint-xxl)
                                font-size: calc((35px / 100) * 90)
                            +max-screen($breakpoint-xl)
                                font-size: calc((35px / 100) * 80)
                            +max-screen($breakpoint-lg)
                                font-size: calc((35px / 100) * 70)
                            +max-screen($breakpoint-md)
                                font-size: calc((35px / 100) * 50)
                            +max-screen($breakpoint-sm)
                                font-size: calc((35px / 100) * 40)
                    br
                        +max-screen($breakpoint-sm)
                            display: none !important

                &__text
                    font-family: $font-family-ogg
                    font-size: 46px
                    color: #E5E3DA
                    line-height: 1.44
                    letter-spacing: 0.09px
                    text-align: center
                    font-weight: 600
                    +max-screen($breakpoint-xxl)
                        font-size: calc((46px / 100) * 85)
                    +max-screen($breakpoint-xl)
                        font-size: calc((46px / 100) * 75)
                    +max-screen($breakpoint-lg)
                        font-size: calc((46px / 100) * 65)
                    +max-screen($breakpoint-md)
                        font-size: 40px
                    .home &
                        margin-top: 40px
                        +max-screen($breakpoint-xl)
                            margin-top: 0
                    .lucas-page &, .paulo-airaudo-page &
                        font-family: $font-family-base
                        font-size: 30px
                        font-weight: 300
                        line-height: 1.33
                        letter-spacing: 1.5px
                        margin-top: 45px
                        max-width: 707px
                        width: 100%
                        +max-screen($breakpoint-xxl)
                            font-size: calc((30px / 100) * 90)
                        +max-screen($breakpoint-xl)
                            font-size: calc((30px / 100) * 80)
                        +max-screen($breakpoint-lg)
                            display: none
                    br
                        +max-screen($breakpoint-lg)
                            display: none !important
                &__btn
                    display: none
                    +max-screen($breakpoint-lg)
                        display: flex
                    .lucas-page &, .paulo-airaudo-page &
                        position: absolute
                        bottom: 25%
                        transform: translateY(50%)

                    .booking-btn
                        padding: 0
                        font-family: $font-family-ogg
                        font-size: 17px
                        font-weight: 700
                        width: 105px
                        height: 32px
                        background: #F5F3EF