section.blockquote
    padding: 250px 0
    overflow: hidden
    +max-screen($breakpoint-xxl)
        padding: 180px 0
    +max-screen($breakpoint-xl)
        padding: 120px 0
    +max-screen($breakpoint-lg)
        padding: 60px 0
    .blockquote
        &__wrap
        &__img
            width: auto
            height: 85.02%
            position: absolute
            z-index: 1
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            img
                width: 100%
                height: 100%
        &__content
            position: relative
            max-width: 1456px
            margin: 0 auto
            z-index: 2
            p
                font-family: $font-family-linotypedidot
                font-size: 40px
                line-height: 1.25
                margin-top: 47px
                max-width: 1460px
                margin: 52px auto 0
                +max-screen($breakpoint-xxl)
                    font-size: calc((40px / 100) * 90)
                +max-screen($breakpoint-xl)
                    font-size: calc((40px / 100) * 80)
                +max-screen($breakpoint-lg)
                    font-size: calc((40px / 100) * 70)
                +max-screen($breakpoint-md)
                    font-size: calc((40px / 100) * 60)
            blockquote
                p
                    font-family: $font-family-linotypedidot
                    font-size: 55px
                    line-height: 1.23
                    margin: 0 auto
                    +max-screen($breakpoint-xxl)
                        font-size: calc((55px / 100) * 90)
                    +max-screen($breakpoint-xl)
                        font-size: calc((55px / 100) * 80)
                    +max-screen($breakpoint-lg)
                        font-size: calc((55px / 100) * 70)
                    +max-screen($breakpoint-md)
                        font-size: calc((55px / 100) * 60)