section.follow-slider
    padding: 53px 0 109px
    +max-screen($breakpoint-lg)
        padding: 60px 0
    .follow-slider
        &__wrap
        &__title
            text-align: center
            font-size: 57px
            +max-screen($breakpoint-xxl)
                font-size: calc((57px / 100) * 90)
            +max-screen($breakpoint-xl)
                font-size: calc((57px / 100) * 80)
            +max-screen($breakpoint-lg)
                font-size: calc((57px / 100) * 70)
            +max-screen($breakpoint-md)
                font-size: calc((57px / 100) * 60)
            +max-screen($breakpoint-sm)
                font-size: calc((57px / 100) * 50)
            .single-menu &
                font-family: $font-family-giveny
        &__slider
            margin-top: 57px
            padding: 0 24px
            +max-screen($breakpoint-lg)
                padding: 0
            &-item
                .slider-item
                    &__img
                        position: relative
                        width: 100%
                        height: 0
                        overflow: hidden
                        padding-bottom: 100%
                        img
                            position: absolute
                            top: 0
                            left: 0
                            width: 100%
                            height: 100%
                            object-fit: cover
                            margin: 0
                    &__link
                        margin-top: 17px
                        a
                            font-size: 26px
                            font-weight: 400
                            color: #fff
                            +max-screen($breakpoint-xxl)
                                font-size: calc((26px / 100) * 90)
                            +max-screen($breakpoint-xl)
                                font-size: calc((26px / 100) * 80)
                            +max-screen($breakpoint-lg)
                                font-size: calc((26px / 100) * 70)
                            +max-screen($breakpoint-md)
                                font-size: calc((26px / 100) * 60)
                    &__text
                        margin-top: 30px
                        font-size: 26px
                        font-weight: 300
                        line-height: 1.34
                        +max-screen($breakpoint-xxl)
                            font-size: calc((26px / 100) * 90)
                        +max-screen($breakpoint-xl)
                            font-size: calc((26px / 100) * 80)
                        +max-screen($breakpoint-lg)
                            font-size: calc((26px / 100) * 70)
                        +max-screen($breakpoint-md)
                            font-size: calc((26px / 100) * 60)