section.hero
    position: relative
    height: 0
    max-height: 1464px
    overflow: hidden
    padding-bottom: 76.25%
    .hero
        &__bg
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            z-index: 1
            img
                width: 100%
                height: 100%
                object-fit: cover
        &__wrap
            padding-top: calc(82px + 162px)
            position: relative
            z-index: 5
        &__title
            font-size: 35px
            color: #0F1758
            span
                font-size: 25px
                display: block
            h1

        &__text
            max-width: 1330px
            margin: 35px auto 0
            color: #101756
            font-size: 45px

             