section.hero-banner
    .hero-banner
        &__slider
            .slider-item
                display: block !important
                position: relative
                //height: 0
                //padding-bottom: 56.25%
                overflow: hidden
                min-height: 600px
                height: 100vh
                +max-screen($breakpoint-lg)
                    min-height: 700px
                    //padding-bottom: 0
                &__wrap
                    position: absolute
                    top: 50%
                    width: 100%
                    transform: translateY(-50%)
                    .allure-page &
                        top: 0
                        margin-top: 305px
                        transform: translateY(0)
                    .page-id-646 &
                        margin-top: 145px
                    .lucas-page &
                        top: 258px
                        transform: translateY(0)
                    .paulo-airaudo-page &
                        top: 60%
                        transform: translateY(-50%)

                &__bg
                    position: absolute
                    top: 0
                    left: 0
                    width: 100%
                    height: 100%
                    img
                        width: 100%
                        height: 100%
                        object-fit: cover
                        .home &
                            +max-screen($breakpoint-md)
                                object-position: 80%
                &__content
                    .allure-page &

                    .lucas-page &, .paulo-airaudo-page &
                        max-width: 730px
                &__logo
                    width: 100%
                    margin: 0 auto
                    .allure-page &
                        width: 356px
                        height: 255px
                        +max-screen($breakpoint-xl)
                            width: 300px
                            height: auto
                        +max-screen($breakpoint-lg)
                            width: 250px
                        +max-screen($breakpoint-md)
                            width: 200px
                        +max-screen($breakpoint-sm)
                            width: 150px
                    .lucas-page &, .paulo-airaudo-page &
                        width: 361px
                        height: 84px
                        +max-screen($breakpoint-xl)
                            width: 300px
                            height: auto
                        +max-screen($breakpoint-lg)
                            width: 250px
                        +max-screen($breakpoint-md)
                            width: 200px
                        +max-screen($breakpoint-sm)
                            width: 150px
                    img
                        width: 100%
                        height: 100%
                        object-fit: cover


                &__content-title
                    font-family: $font-family-ogg
                    font-size: 120px
                    color: #E5E3DA
                    text-align: center
                    +max-screen($breakpoint-xxl)
                        font-size: calc((120px / 100) * 85)
                    +max-screen($breakpoint-xl)
                        font-size: calc((120px / 100) * 75)
                    +max-screen($breakpoint-lg)
                        font-size: calc((120px / 100) * 65)
                    +max-screen($breakpoint-md)
                        font-size: 62px
                    .home &
                        margin-left: -70px
                        +max-screen($breakpoint-xxl)
                            margin-left: calc((-70px / 100) * 90)
                        +max-screen($breakpoint-xl)
                            margin-left: calc((-70px / 100) * 80)
                        +max-screen($breakpoint-lg)
                            margin-left: 0
                    .allure-page &
                        //margin-top: 305px
                        font-family: $font-family-linotypedidot
                        font-size: 101px
                        color: $color-brown
                        text-align: left
                        +max-screen($breakpoint-xxl)
                            font-size: calc((101px / 100) * 90)
                        +max-screen($breakpoint-xl)
                            font-size: calc((101px / 100) * 80)
                        +max-screen($breakpoint-lg)
                            font-size: calc((101px / 100) * 70)
                        +max-screen($breakpoint-md)
                            font-size: calc((101px / 100) * 50)
                            margin-top: 230px
                        +max-screen($breakpoint-sm)
                            font-size: calc((101px / 100) * 40)
                    span
                        display: block
                        font-family: $font-family-base
                        font-size: 50px
                        font-weight: 300
                        letter-spacing: 3.15px
                        +max-screen($breakpoint-xxl)
                            font-size: calc((50px / 100) * 85)
                        +max-screen($breakpoint-xl)
                            font-size: calc((50px / 100) * 75)
                        +max-screen($breakpoint-lg)
                            font-size: calc((50px / 100) * 65)
                        +max-screen($breakpoint-md)
                            font-size: 29px
                        .home &
                            margin-left: 70px
                            +max-screen($breakpoint-xxl)
                                margin-left: calc((70px / 100) * 90)
                            +max-screen($breakpoint-xl)
                                margin-left: calc((70px / 100) * 80)
                            +max-screen($breakpoint-lg)
                                margin-left: 0
                                margin-bottom: 20px
                            +max-screen($breakpoint-md)
                        .allure-page &
                            display: block
                            font-family: $font-family-futurapt
                            font-size: 35px
                            letter-spacing: unset
                            font-weight: 300
                            +max-screen($breakpoint-xxl)
                                font-size: calc((35px / 100) * 90)
                            +max-screen($breakpoint-xl)
                                font-size: calc((35px / 100) * 80)
                            +max-screen($breakpoint-lg)
                                font-size: calc((35px / 100) * 70)
                            +max-screen($breakpoint-md)
                                font-size: calc((35px / 100) * 50)
                            +max-screen($breakpoint-sm)
                                font-size: calc((35px / 100) * 40)

                        .lucas-page &, .paulo-airaudo-page &
                            font-family: $font-family-giveny
                            font-size: 57px
                            font-weight: 400
                            letter-spacing: unset
                            line-height: 1.17
                            text-align: center
                            +max-screen($breakpoint-xxl)
                                font-size: calc((57px / 100) * 90)
                            +max-screen($breakpoint-xl)
                                font-size: calc((57px / 100) * 80)
                            +max-screen($breakpoint-lg)
                                font-size: calc((57px / 100) * 70)
                            +max-screen($breakpoint-md)
                                font-size: calc((57px / 100) * 60)
                            +max-screen($breakpoint-sm)
                                font-size: calc((57px / 100) * 50)

                    br
                        +max-screen($breakpoint-sm)
                            display: none !important

                &__content-text
                    font-family: $font-family-ogg
                    font-size: 46px
                    color: #E5E3DA
                    line-height: 1.44
                    letter-spacing: 0.09px
                    text-align: center
                    font-weight: 600
                    +max-screen($breakpoint-xxl)
                        font-size: calc((46px / 100) * 85)
                    +max-screen($breakpoint-xl)
                        font-size: calc((46px / 100) * 75)
                    +max-screen($breakpoint-lg)
                        font-size: calc((46px / 100) * 65)
                    +max-screen($breakpoint-md)
                        font-size: 40px

                    blockquote
                        font-family: $font-family-base
                        font-size: 30px
                        font-weight: 300
                        letter-spacing: 2.49px
                        line-height: 1
                        color: #E5E3DA
                        +max-screen($breakpoint-xxl)
                            font-size: calc((30px / 100) * 85)
                        +max-screen($breakpoint-xl)
                            font-size: calc((30px / 100) * 75)
                        +max-screen($breakpoint-lg)
                            font-size: calc((30px / 100) * 65)
                        +max-screen($breakpoint-md)
                            font-size: 15px
                            letter-spacing: 1.25px
                    .home &
                        margin-top: 40px
                        +max-screen($breakpoint-xl)
                            margin-top: 0
                    .lucas-page &, .paulo-airaudo-page &
                        font-family: $font-family-base
                        font-size: 30px
                        font-weight: 300
                        line-height: 1.33
                        letter-spacing: 1.5px
                        margin-top: 45px
                        +max-screen($breakpoint-xxl)
                            font-size: calc((30px / 100) * 90)
                        +max-screen($breakpoint-xl)
                            font-size: calc((30px / 100) * 80)
                        +max-screen($breakpoint-lg)
                            font-size: calc((30px / 100) * 70)
                        +max-screen($breakpoint-md)
                            font-size: calc((30px / 100) * 60)
                    br
                        +max-screen($breakpoint-md)
                            display: none !important

                &__btn
                    display: none
                    justify-content: center
                    margin-top: 23px
                    +max-screen($breakpoint-lg)
                        display: flex
                    .booking-btn
                        font-family: $font-family-ogg
                        font-size: 17px
                        font-weight: 700
                        width: 105px
                        height: 32px
                        background: #F5F3EF

            .slick-arrow
                .lucas-page &, .paulo-airaudo-page &
                    display: none !important
            .slick-dots
                +max-screen($breakpoint-lg)
                    bottom: 72px