section.information
    padding: 150px 0
    +max-screen($breakpoint-xl)
        padding: 80px 0
    +max-screen($breakpoint-lg)
        padding: 60px 0
    .lucas-page &
        padding: 106px 0 78px
    .information
        &__wrap
        &__title
            margin-bottom: 37px
        &__list
            +max-screen($breakpoint-md)
                display: flex
                flex-wrap: wrap
                justify-content: space-between
            &:not(:last-of-type)
                +max-screen($breakpoint-md)
                    margin-bottom: 25px
            .list-item
                padding: 0
                +max-screen($breakpoint-md)
                    flex: 0 0 100%
                //.lucas-page &
                //    max-width: 581px
                //    margin: 0 auto
                &:not(:last-of-type)
                    margin-bottom: 25px
                &__title
                    font-size: 40px
                    text-transform: uppercase
                    +max-screen($breakpoint-xl)
                        font-size: 32px
                    +max-screen($breakpoint-lg)
                        font-size: 24px
                    +max-screen($breakpoint-md)
                        text-align: center
                    .lucas-page &
                        color: #F5F0DF
                        font-size: 28px
                        text-align: center
                &__text
                    font-size: 25px
                    margin-top: 20px
                    line-height: 1.8
                    +max-screen($breakpoint-xl)
                        font-size: 22px
                    +max-screen($breakpoint-lg)
                        font-size: 16px
                        margin-top: 10px
                    +max-screen($breakpoint-md)
                        display: flex
                        flex-wrap: wrap
                        justify-content: center
                        gap: 0 20px
                        min-height: unset
                    .lucas-page &
                        color: #F5F0DF
                        text-align: center
                    span
                        display: block
                    br
                        +max-screen($breakpoint-md)
                            display: none
    .horizontal-line
        display: block
        bottom: unset
        top: 0

.allure-page
    section.information
        position: relative
        padding: 73px 0
        +max-screen($breakpoint-lg)
            padding: 60px 0
        .information
            &__list
                gap: 57px 0
                .list-item
                    &__text
                        font-size: 16px
                        color: #000
                        max-width: 416px
