section.page-banner
    padding: calc(min(162px, 8vw)) 0 53px
    +max-screen($breakpoint-xl)
        padding: 114px 0 53px
    +max-screen($breakpoint-lg)
        padding: 114px 0 30px
    .page-banner
        &__title
            margin: 40px 0 65px
            text-align: center
            +max-screen($breakpoint-lg)
                margin: 40px 0 14px
            h1
                font-weight: 400
            .single-rooms-and-suites &
                position: absolute
                top: 50%
                left: 50%
                transform: translate(-50%, -50%)

        &__banner
            .slider-item
                display: block !important
                position: relative
                height: 0
                padding-bottom: 40.68%
                overflow: hidden
                +max-screen($breakpoint-md)
                    padding-bottom: 115%
                &__bg
                    position: absolute
                    top: 0
                    left: 0
                    width: 100%
                    height: 100%
                    img
                        width: 100%
                        height: 100%
                        object-fit: cover