section.products
    padding: 60px 0
    .products
        &__wrap
            position: relative
            +max-screen($breakpoint-lg)
                flex-wrap: wrap
            &.row
                margin: 0
        &__slider
            max-width: calc(776px + 20px)
            width: calc(43.11% + 20px)
            +max-screen($breakpoint-lg)
                max-width: 776px
                width: 100%
            &-item
                position: relative
                width: 100%
                height: 0
                overflow: hidden
                padding-bottom: 81.16%
                img
                    position: absolute
                    left: 0
                    top: 0
                    width: 100%
                    height: 100%
                    object-fit: cover
            &.slider-left
                padding-left: 20px
                +max-screen($breakpoint-xl)
                    padding-left: 10px
                +max-screen($breakpoint-lg)
                    padding: 0
            &.slider-right
                padding-right: 20px
                +max-screen($breakpoint-xl)
                    padding-right: 10px
                +max-screen($breakpoint-lg)
                    padding: 0
        &__content
            text-align: center
            max-width: calc(663px + 135px + 20px)
            +max-screen($breakpoint-xxl)
                max-width: calc(663px + ((135px / 100) * 50) + 40px)
            +max-screen($breakpoint-xl)
                max-width: calc(663px + 40px + 10px)
            +max-screen($breakpoint-lg)
                max-width: unset
                margin-bottom: 30px
            &.content-left
                padding-right: 40px
                padding-left: 135px
                +max-screen($breakpoint-xxl)
                    padding-left: calc((135px / 100) * 50)
                +max-screen($breakpoint-xl)
                    padding-left: 10px
                +max-screen($breakpoint-lg)
                    padding-right: 0
                    padding-left: 0
            &.content-right
                padding-left: 40px
                padding-right: 135px
                +max-screen($breakpoint-xxl)
                    padding-right: calc((135px / 100) * 50)
                +max-screen($breakpoint-xl)
                    padding-right: 10px
                +max-screen($breakpoint-lg)
                    padding-right: 0
                    padding-left: 0
        &__title
            color: #101756
            span
                font-family: $font-family-futurapt
            .allure-page &
                font-family: $font-family-linotypedidot
        &__text
            color: #c7ad85
            margin-top: 45px
    .horizontal-line
        display: block
        bottom: unset
        top: 0