section.text-gallery
    padding: 81px 0 60px
    +max-screen($breakpoint-lg)
        padding: 54px 0 39px
    .text-gallery
        &__wrap
            position: relative
            +max-screen($breakpoint-lg)
                flex-wrap: wrap
            &.row
                margin: 0
        &__slider
            max-width: 943px
            width: 52.38%
            +max-screen($breakpoint-lg)
                width: 100%
                margin-top: 13px
            .allure-page &
                max-width: 894px
                width: 50%
                +max-screen($breakpoint-lg)
                    width: 100%
            &.desktop
                +max-screen($breakpoint-lg)
                    display: none
            &.mobile
                display: none
                +max-screen($breakpoint-lg)
                    display: block

            &-item
                position: relative
                width: 100%
                height: 0
                overflow: hidden
                padding-bottom: 72.74%
                +max-screen($breakpoint-lg)
                    padding-bottom: 83.46%
                .allure-page &
                    padding-bottom: 84.56%
                img
                    position: absolute
                    left: 0
                    top: 0
                    width: 100%
                    height: 100%
                    object-fit: cover
            &-img-title
                display: none
                font-family: $font-family-linotypedidot
                //font-size: 35px
                //line-height: calc(43 / 35)
                font-size: 33px
                line-height: calc(43 / 33)
                text-align: center
                text-shadow: 0px 0px 10px #00000057
                color: $color-light-brown
                position: absolute
                left: 50%
                top: 50%
                width: 95%
                transform: translate(-50%, -50%)
                +min-screen($breakpoint-lg)
                    display: none
        &__content
            max-width: calc(555px + 103px + 40px)
            text-align: center
            +max-screen($breakpoint-xxl)
                max-width: calc(555px + ((103px / 100) * 50) + 40px)
            +max-screen($breakpoint-xl)
                max-width: calc(555px + 40px + 10px)
            +max-screen($breakpoint-lg)
                max-width: unset
                width: 100%
            .allure-page &
                max-width: calc(695px + 90px + 40px)
                +max-screen($breakpoint-xxl)
                    max-width: calc(695px + ((90px / 100) * 50) + 40px)
                +max-screen($breakpoint-xl)
                    max-width: calc(695px + 40px + 10px)
                +max-screen($breakpoint-lg)
                    max-width: unset
                    margin-top: 30px
            &.content-left
                padding-right: 40px
                padding-left: 103px
                +max-screen($breakpoint-xxl)
                    padding-left: calc((103px / 100) * 50)
                +max-screen($breakpoint-xl)
                    padding-left: 10px
                +max-screen($breakpoint-lg)
                    padding-right: 0
                    padding-left: 0
                .allure-page &
                    padding-left: 90px
                    +max-screen($breakpoint-xxl)
                        padding-left: calc((90px / 100) * 50)
                    +max-screen($breakpoint-xl)
                        padding-left: 10px
                    +max-screen($breakpoint-lg)
                        padding-right: 0
                        padding-left: 0
            &.content-right
                padding-left: 40px
                padding-right: 103px
                +max-screen($breakpoint-xxl)
                    padding-right: calc((103px / 100) * 50)
                +max-screen($breakpoint-xl)
                    padding-right: 10px
                +max-screen($breakpoint-lg)
                    padding-right: 0
                    padding-left: 0
                .allure-page &
                    padding-right: 90px
                    +max-screen($breakpoint-xxl)
                        padding-right: calc((90px / 100) * 50)
                    +max-screen($breakpoint-xl)
                        padding-right: 10px
                    +max-screen($breakpoint-lg)
                        padding-right: 0
                        padding-left: 0
        &__title
            font-family: $font-family-ogg
            font-size: 120px
            line-height: 0.8
            +max-screen($breakpoint-lg)
                font-size: 80px
                line-height: 0.75
            .allure-page &
                font-family: $font-family-linotypedidot
                font-size: 35px
                color: #000
            span
                font-family: $font-family-ogg
                font-size: 95px
                line-height: 0.84
                display: block
                +max-screen($breakpoint-md)
                    font-size: 63px
                    line-height: 1.05
        &__text
            margin-top: 32px
            +max-screen($breakpoint-lg)
                margin-top: 39px
            .allure-page &
                line-height: 1.29
                letter-spacing: unset
                color: #c7ad85
                margin-top: 25px
        &__btn
            margin-top: 55px
            +max-screen($breakpoint-lg)
                margin-top: 39px
            .allure-page &
                margin-top: 100px
                +max-screen($breakpoint-lg)
                    margin-top: 55px
            .button
                font-size: calc(36px / 1.5)
                font-weight: 400
                max-width: 305px
                width: 100%
                height: 54px
                padding: 5px 8px 3px
                border: 1px solid $color-green
                background: transparent
                color: $color-green
                font-family: $font-family-giveny
                .allure-page &
                    font-family: $font-family-base
                    font-size: 25px
                    font-weight: 300
                    letter-spacing: 1px
                    color: #F5F3EF
                    min-width: 305px
                    height: 47px
                    border: 1px solid #c7ad85
                    background: #c7ad85
                    padding: 5px 8px
                .lucas-page &, .paulo-airaudo-page &
                    font-size: 36px
                    border: 1px solid #F5F3EF
                    background: transparent
                    color: #F5F3EF
    .horizontal-line
        .allure-page &
            display: none