section.text-image
    padding: 73px 0 68px
    +max-screen($breakpoint-lg)
        padding: 54px 0 39px
    .text-image
        &__wrap
            display: flex
            &.row
                margin: 0
        &__img
            max-width: calc(682px + 72px + 40px)
            width: 100%
            display: flex
            align-items: center
            +max-screen($breakpoint-xxl)
                max-width: calc(682px + ((72px / 100) * 50) + 40px)
            +max-screen($breakpoint-xl)
                max-width: calc(682px + 40px + 40px)
            +max-screen($breakpoint-lg)
                max-width: 682px
                margin-top: 27px
            &-wrap
                position: relative
                width: 100%
                height: 0
                overflow: hidden
                padding-bottom: 92.96%
                .allure-page &
                    padding-bottom: 136.46%
                    margin-left: 0
                img
                    position: absolute
                    top: 0
                    left: 0
                    width: 100%
                    height: 100%
                    object-fit: cover
            .allure-page &
                max-width: calc(617px + 108px + 40px)
            &.image-left
                padding-right: 40px
                padding-left: 72px
                +max-screen($breakpoint-xxl)
                    padding-left: calc((72px / 100) * 50)
                +max-screen($breakpoint-xl)
                    padding-left: 40px
                +max-screen($breakpoint-lg)
                    padding-right: 0
                    padding-left: 0
                .allure-page &
                    padding-left: 108px
                    +max-screen($breakpoint-xxl)
                        padding-left: calc((108px / 100) * 50)
                    +max-screen($breakpoint-xl)
                        padding-left: 40px
                    +max-screen($breakpoint-lg)
                        padding-right: 0
                        padding-left: 0
            &.image-right
                padding-left: 40px
                padding-right: 72px
                +max-screen($breakpoint-xxl)
                    padding-right: calc((72px / 100) * 50)
                +max-screen($breakpoint-xl)
                    padding-right: 40px
                +max-screen($breakpoint-lg)
                    padding-right: 0
                    padding-left: 0
                .allure-page &
                    padding-right: 108px
                    +max-screen($breakpoint-xxl)
                        padding-right: calc((108px / 100) * 50)
                    +max-screen($breakpoint-xl)
                        padding-right: 40px
                    +max-screen($breakpoint-lg)
                        padding-right: 0
                        padding-left: 0
        &__content
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            max-width: calc(599px + 195px + 40px)
            width: 100%
            +max-screen($breakpoint-xxl)
                max-width: calc(599px + ((195px / 100) * 50) + 40px)
            +max-screen($breakpoint-xl)
                max-width: calc(599px + 40px + 40px)
            +max-screen($breakpoint-lg)
                max-width: unset
            .allure-page &
                max-width: calc(722px + 103px + 40px)
                +max-screen($breakpoint-xxl)
                    max-width: calc(722px + ((103px / 100) * 50) + 40px)
                +max-screen($breakpoint-xl)
                    max-width: calc(722px + 40px + 40px)
                +max-screen($breakpoint-lg)
                    max-width: unset
                    margin-top: 30px
            &.content-left
                padding-right: 40px
                padding-left: 195px
                +max-screen($breakpoint-xxl)
                    padding-left: calc((195px / 100) * 50)
                +max-screen($breakpoint-xl)
                    padding-left: 40px
                +max-screen($breakpoint-lg)
                    padding-right: 0
                    padding-left: 0
                .allure-page &
                    padding-left: 103px
                    +max-screen($breakpoint-xxl)
                        padding-left: calc((103px / 100) * 50)
                    +max-screen($breakpoint-xl)
                        padding-left: 40px
                    +max-screen($breakpoint-lg)
                        padding-right: 0
                        padding-left: 0
            &.content-right
                padding-left: 40px
                padding-right: 195px
                +max-screen($breakpoint-xxl)
                    padding-right: calc((195px / 100) * 50)
                +max-screen($breakpoint-xl)
                    padding-right: 40px
                +max-screen($breakpoint-lg)
                    padding-right: 0
                    padding-left: 0
                .allure-page &
                    padding-right: 103px
                    +max-screen($breakpoint-xxl)
                        padding-right: calc((103px / 100) * 50)
                    +max-screen($breakpoint-xl)
                        padding-right: 40px
                    +max-screen($breakpoint-lg)
                        padding-right: 0
                        padding-left: 0

        &__title
            font-family: $font-family-ogg
            font-size: 47px
            line-height: 1.44
            letter-spacing: 1.5px
            color: #2D4C42
            +max-screen($breakpoint-xxl)
                font-size: calc((47px / 100) * 90)
            +max-screen($breakpoint-xl)
                font-size: calc((47px / 100) * 80)
            +max-screen($breakpoint-lg)
                font-size: calc((47px / 100) * 70)
            +max-screen($breakpoint-md)
                font-size: 35px
                line-height: 1.14
                letter-spacing: 1.12px
            .allure-page &
                font-family: $font-family-linotypedidot
                font-size: 55px
                color: #0F1758
                line-height: 1.32
                letter-spacing: unset
                +max-screen($breakpoint-xxl)
                    font-size: calc((55px / 100) * 90)
                +max-screen($breakpoint-xl)
                    font-size: calc((55px / 100) * 80)
                +max-screen($breakpoint-lg)
                    font-size: calc((55px / 100) * 70)
                +max-screen($breakpoint-md)
                    font-size: calc((55px / 100) * 60)
                +max-screen($breakpoint-sm)
                    font-size: calc((55px / 100) * 50)
            span
                font-family: $font-family-ogg-italic
                font-size: 47px
                letter-spacing: 0.09px
                +max-screen($breakpoint-xxl)
                    font-size: calc((47px / 100) * 90)
                +max-screen($breakpoint-xl)
                    font-size: calc((47px / 100) * 80)
                +max-screen($breakpoint-lg)
                    font-size: calc((47px / 100) * 70)
                +max-screen($breakpoint-md)
                    display: flex
                    font-size: 30px
                    letter-spacing: 0.06px
                .allure-page &
                    display: block
                    font-family: $font-family-futurapt
                    font-size: 30px
                    font-style: normal
                    line-height: 1
                    letter-spacing: unset
                    +max-screen($breakpoint-xxl)
                        font-size: calc((30px / 100) * 90)
                    +max-screen($breakpoint-xl)
                        font-size: calc((30px / 100) * 80)
                    +max-screen($breakpoint-lg)
                        font-size: calc((30px / 100) * 70)
                    +max-screen($breakpoint-md)
                        font-size: calc((30px / 100) * 60)
            br
                display: none
                +max-screen($breakpoint-md)
                    display: block
        &__text
            font-size: 31px
            line-height: 1.38
            letter-spacing: 0.99px
            color: #2D4C42
            margin: 61px auto 0
            +max-screen($breakpoint-xxl)
                font-size: calc((31px / 100) * 90)
            +max-screen($breakpoint-xl)
                font-size: calc((31px / 100) * 80)
            +max-screen($breakpoint-lg)
                font-size: calc((31px / 100) * 70)
                margin-top: 16px
            +max-screen($breakpoint-md)
                font-size: 20px
                line-height: 1.5
                letter-spacing: 0.64px
            .allure-page &
                font-size: 27px
                line-height: 1.29
                letter-spacing: unset
                color: #000000
                margin: 14px auto 0
                +max-screen($breakpoint-xxl)
                    font-size: calc((27px / 100) * 90)
                +max-screen($breakpoint-xl)
                    font-size: calc((27px / 100) * 80)
                +max-screen($breakpoint-lg)
                    font-size: calc((27px / 100) * 70)
                    margin-top: 40px
                +max-screen($breakpoint-md)
                    font-size: calc((27px / 100) * 60)
            p:not(:last-of-type)
                margin-bottom: 20px
    .horizontal-line
        .allure-page &
            display: none