section.loop-posts
    padding-top: 200px
    padding-bottom: 52px
    +max-screen($breakpoint-xl)
        padding-top: 114px
    +max-screen($breakpoint-lg)
        padding-bottom: 60px
    +max-screen($breakpoint-md)
        padding-bottom: 39px
    .loop-posts
        &__wrap
        &__filter
            position: sticky
            z-index: 50
            top: calc(min(8vw - 1px, 100%))
            padding: 15px 0
            background: #e5e3da
            +max-screen($breakpoint-xl)
                top: 113px
            .logged-in &
                top: calc(min(8vw + 32px, 100%))
                +max-screen($breakpoint-xl)
                    top: calc(114px + 31px)
                @media (max-width: 782px)
                    top: calc(114px + 45px)
                @media (max-width: 600px)
                    top: 113px
            .filter-list
                gap: 40px

            .filter-btn
                position: relative
                font-family: $font-family-gillsans
                font-size: 19px
                letter-spacing: -0.42px
                color: rgba(33, 57, 50, .46)
                +max-screen($breakpoint-lg)
                    font-size: 20px
                    letter-spacing: -0.44px
                &:not(:last-of-type)
                    &:after
                        content: ''
                        position: absolute
                        bottom: 0
                        right: -20px
                        width: 1px
                        height: calc(100% + 2px)
                        background: $color-green
                &:hover
                    cursor: pointer
                &.active
                    color: #213932
        &__list
            display: flex
            flex-wrap: wrap
            gap: 50px 30px
            +max-screen($breakpoint-md)
                flex-direction: column
                gap: 30px
            .rooms-card
                width: calc((100% / 2) - (30px / 2))
                +max-screen($breakpoint-md)
                    width: 100%
                .rooms-card
                    &__btn
                        .button
                            letter-spacing: 0.67px