section.newsletter
    position: relative
    padding: 65px 0 42px
    +max-screen($breakpoint-lg)
        padding: 60px 0

    .horizontal-line
        display: block
        bottom: unset
        top: 0
        top: 0