div.related-post
    padding: 91px 0
    +max-screen($breakpoint-lg)
        padding: 60px 0
    +max-screen($breakpoint-md)
        padding: 57px 0 39px
    .related-post
        &__wrap
            //max-width: 1344px
            //margin: 0 auto
        &__title
            margin-bottom: 74px
            +max-screen($breakpoint-lg)
                margin-bottom: 39px
            +max-screen($breakpoint-md)
                text-align: center
            h2
                font-weight: 400
        &__list
            +max-screen($breakpoint-md)
                display: flex
                flex-direction: column
                gap: 30px
    .rooms-card
        .rooms-card
            &__dropdown
                display: none !important
            &__btn
                .single-rooms-and-suites &
                    margin-top: 57px