.copy-image
    background-color: $color-light
    &__img
        max-width: 100%
        width: 663px
        &-wrapper
            +max-screen($breakpoint-lg)
                display: flex
                justify-content: center
    &__content
        text-align: center
        max-width: 695px
        margin-top: 30px
        +max-screen($breakpoint-lg)
            margin: 30px auto 0
        &-wrapper
            margin-left: auto
            max-width: 813px
            +max-screen($breakpoint-lg)
                margin: 0 auto
        .copy-image
            &__title, &__subtitle
                color: #c7ad85
            &__content
                color: #c7ad85
    &__title
        h2
            font-family: $font-family-linotypedidot
            span
                font-family: $font-family-linotypedidot
    &__subtitle
        font-family: $font-family-linotypedidot
        font-weight: 300
        line-height: calc(26 / 20)
        font-size: 20px
        margin-top: 13px
        margin-bottom: 30px
    .button
        margin-top: 48px
        height: 47px
        padding-top: 13px
        padding-bottom: 7px
        background-color: #c7ad85
        border-color: #c7ad85
        color: $color-light
        font-weight: 300
        font-family: $font-family-base
        font-size: 25px
        line-height: calc( 28/ 25)
        min-width: 305px
        text-align: center