.copy-image
    background-color: $color-light
    &__img
        max-width: 100%
        width: 663px
        &-wrapper
            +max-screen($breakpoint-lg)
                display: flex
                justify-content: center
            //+min-screen($breakpoint-md)
            //    padding-left: 150px
            //    padding-right: 40px
    &__content
        text-align: center
        max-width: 695px
        margin-top: 30px
        +max-screen($breakpoint-lg)
            margin: 30px auto 0
        &-wrapper
            margin-left: auto
            max-width: 813px
            +max-screen($breakpoint-lg)
                margin: 0 auto
    &__title
        //font-family: $font-family-linotypedidot
        //font-family: serif
        //font-size: 25px
        //line-height: calc(31 / 25)
        //color: #20201E
        //display: flex
        //flex-direction: column
        //.page-template-template-allure &, .allure-page &
        //    color: #c1ad8a
        span
            //font-size: 35px
            //line-height: calc(35 / 43)
            //+max-screen($breakpoint-md)
    &__subtitle
        font-family: $font-family-futurapt
        font-weight: 300
        line-height: calc(26 / 20)
        font-size: 20px
        margin-top: 13px
        margin-bottom: 30px
    &__content
        //color: #c7ad85
        //margin-top: 39px
        //font-size: 27px
        //line-height: calc(35 / 27)
        //font-family: $font-family-futurapt
        //font-weight: 300
        //+max-screen($breakpoint-lg)
        //    font-size: 20px
        //    line-height: 1.5
        //.page-template-template-allure &, .allure-page &
        //    color: #c7ad85
    .button
        margin-top: 48px
        height: 47px
        padding-top: 13px
        padding-bottom: 7px
        background-color: #c7ad85
        border-color: #c7ad85
        color: $color-light
        font-weight: 300
        font-family: $font-family-base
        font-size: 25px
        line-height: calc( 28/ 25)
        min-width: 305px
        text-align: center
        //+max-screen($breakpoint-md)
        //    margin-top: 10px