header.header
    position: absolute
    z-index: 100
    top: 0
    left: 0
    width: 100%
    .allure-page &, .lucas-page &
        background: rgba(0, 0, 0, .39)

    .header
        &__wrap
            height: 218px
            display: flex
            justify-content: space-between
            align-items: flex-start
            +max-screen($breakpoint-xl)
                height: 162px
            +max-screen($breakpoint-lg)
                height: 100px
            .allure-page &, .lucas-page &
                height: 162px

        &__toggle
            position: relative
            font-size: 20px
            color: $color-green
            padding: 0 5px
            text-transform: uppercase
            margin-top: 36px
            +max-screen($breakpoint-lg)
                font-size: 18px
            .allure-page &, .lucas-page &
                color: #F5F3EF
            &:after
                content: ''
                position: absolute
                bottom: -4px
                left: 0
                display: block
                width: 100%
                height: 1px
                background: $color-green
                transition: $default-transition
                transform-origin: left
                .allure-page &, .lucas-page &
                    background: #F5F3EF
            &:hover
                cursor: pointer
                &:after
                    transform: scaleX(0)

        &__menu
            position: absolute
            left: 0
            top: -100vh
            height: 100vh
            background: #E5E3DA
            padding: 53px 62px 53px 43px
            overflow-y: auto
            transition: .6s ease
            &.open
                top: 0
            .menu
                .menu-item.menu-item-has-children
                    > a
                        display: inline-block
                        font-size: 20px
                        margin-bottom: 21px
                        text-transform: uppercase

                    .menu-item:not(:last-of-type)
                        margin-bottom: 12px
                        > a
                            font-size: 19px
                .menu-item.menu-item-has-children:not(:last-of-type)
                    &:after
                        content: ''
                        display: block
                        width: 100%
                        height: .5px
                        background: #213932
                        margin: 41.5px 0 47.5px
        &__logo
            position: absolute
            left: 50%
            top: 25px
            width: 83px
            height: 121px
            transform: translateX(-50%)
            +max-screen($breakpoint-xl)
                width: auto
                height: 105px
            +max-screen($breakpoint-lg)
                height: 90px
                top: 50%
                transform: translate(-50%, -50%)
            .allure-page &
                top: 35px
                width: 146px
                height: 105px
                +max-screen($breakpoint-lg)
                    height: 75px
            .lucas-page &
                top: 27px
                width: 197px
                height: 93px
                +max-screen($breakpoint-lg)
                    height: 75px
            img
                width: 100%
                height: 100%
                object-fit: cover

        &__btn
            margin-top: 39px
            display: flex
            gap: 33px
            +max-screen($breakpoint-xl)
                gap: 20px
            +max-screen($breakpoint-xl)
                margin-top: 0
                flex-direction: column
                gap: 5px
                align-self: center
            .button
                font-size: 18px
                font-weight: 400
                min-width: 105px
                height: 32px
                border: 1px solid $color-green
                background: $color-green
                color: #fff
                +max-screen($breakpoint-xxl)
                    font-size: calc((18px / 100) * 90)
                +max-screen($breakpoint-xl)
                    font-size: calc((18px / 100) * 80)
                +max-screen($breakpoint-md)
                    font-size: calc((18px / 100) * 70)
                &.button-transparent
                    min-width: 121px
                    border: 1px solid $color-green
                    background: transparent
                    color: $color-green

// if you are logged in
.logged-in
    header.header
        top: 32px
        @media (max-width: 782px)
            top: 46px

// page styles
.home, .allure-page
    header.header
        .header
            &__toggle
                color: #E5E2D9
                &:after
                    background: #E5E2D9

.archive, .single
    header.header
        .header
            &__wrap
                border-bottom: 1px solid #1A352E

.page-id-646
    header.header
        background: none !important
        .header
            &__logo
                display: none