header.header
    position: fixed
    z-index: 100
    top: 0
    left: 0
    width: 100%
    transition: .4s ease
    .allure-page &
        background: rgba(0, 0, 0, .39)
        +max-screen($breakpoint-lg)
            background: transparent linear-gradient(180deg, #00000064 0%, #54545400 100%) 0% 0% no-repeat padding-box
    .page-id-646 &
        background: none
    .lucas-page &
        background: rgba(66, 83, 57, .29)
    .paulo-airaudo-page &
        background: rgba(255, 255, 255, .29)

    &.header-fixed
        position: fixed
        background: #e5e3da
        box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important
        .header
            &__toggle
                color: $color-green !important
                &:after
                    background: $color-green !important
            &__btn
                .button
                    padding-left: 8px
                    padding-right: 8px
                    &.language-btn
                        border: 1px solid $color-green !important
                        background: transparent !important
                        color: $color-green !important
                    &.booking-btn
                        border: 1px solid #e5e3da !important
                        background: $color-green !important
                        color: #e5e3da !important
                        span
                            color: #e5e3da !important
                            -webkit-text-fill-color: unset !important

            &__wrap
                border: none !important
            &__logo
                svg 
                    max-height: 100%
                    *
                        .paulo-airaudo-page &
                            fill: $color-green
                .logo-fixed
                    display: block
                    +min-screen($breakpoint-lg)
                        display: flex
                        align-items: center
                        justify-content: center
                    svg
                        width: 90px
                        height: 90px
                img
                    .biologique-recherche &,
                    .treatment-menu &
                        display: none
    .header
        &__wrap
            position: relative
            height: calc(min(162px, 8vw))
            display: flex
            justify-content: space-between
            align-items: flex-start
            +max-screen($breakpoint-xl)
                height: 114px
            .archive &, .single:not(.single-menu) &
                border-bottom: 1px solid #1A352E

        &__toggle
            font-family: $font-family-ogg
            font-size: 20px
            color: $color-green
            text-transform: uppercase
            position: relative
            display: flex
            align-items: center
            justify-content: center
            height: 32px
            padding: 0 5px
            margin-top: 35px
            +max-screen($breakpoint-lg)
                margin-top: 50px
                height: 28px
                font-size: 17px
            .home &, .allure-page &, .lucas-page &, .paulo-airaudo-page &
                color: #F5F3EF
            &:after
                content: ''
                position: absolute
                bottom: 0
                left: 0
                display: block
                width: 100%
                height: 1px
                background: $color-green
                transition: $default-transition
                transform-origin: left
                .home &, .allure-page &, .lucas-page &, .paulo-airaudo-page &
                    background: #F5F3EF
            &:hover
                cursor: pointer
                &:after
                    transform: scaleX(0)

        &__menu
            position: fixed
            left: 0
            top: -100vh
            height: 100vh
            background: #E5E3DA
            padding: 53px 62px 53px 43px
            overflow-y: auto
            transition: .6s ease
            +max-screen($breakpoint-md)
                width: 100%
                padding: 67px 28px 75px 24px
            &.open
                top: 0
            .menu
                .menu-item.menu-item-has-children
                    > a
                        display: inline-block
                        font-family: $font-family-ogg
                        font-size: 20px
                        font-weight: 600
                        letter-spacing: 0.6px
                        color: #213932
                        margin-bottom: 21px
                        text-transform: uppercase

                    .menu-item:not(:last-of-type)
                        margin-bottom: 12px

                    .menu-item:not(.menu-item-has-children)
                        > a
                            font-family: $font-family-base
                            font-size: 19px
                            font-weight: 300
                            letter-spacing: -0.42px
                            color: #213932
                .menu-item.menu-item-has-children:not(:last-of-type)
                    &:after
                        content: ''
                        display: block
                        width: 100%
                        height: .5px
                        background: #213932
                        margin: 41.5px 0 47.5px
        &__close
            cursor: pointer
            display: block
            position: absolute
            top: 16px
            right: 24px
            font-size: 40px
            line-height: 1.1
            letter-spacing: -0.88px
            .admin-bar &
                top: 35px
                
        &__logo
            position: absolute
            left: 50%
            bottom: calc(min(51px, 1.5vw))
            //width: 83px
            width: auto
            height: calc(min(133.1px, 6vw))
            transform: translateX(-50%)
            +max-screen($breakpoint-xxl)
                bottom: 20px
            +max-screen($breakpoint-xl)
                //width: auto
                height: 99px
            +max-screen($breakpoint-lg)
                height: 64.9px
            .allure-page &
                bottom: 22px
                //width: 146px
                width: auto
                height: calc(min(115.5px, 5vw))
                +max-screen($breakpoint-xl)
                    //width: auto
                    height: 90.2px
                +max-screen($breakpoint-lg)
                    bottom: 14px
                    height: 64.9px
            .lucas-page &
                bottom: 42px
                //width: 197px
                width: auto
                height: calc(min(102.3px, 4.5vw))
                +max-screen($breakpoint-xl)
                    bottom: 16px
                    //width: auto
                    height: 78.1px
                +max-screen($breakpoint-lg)
                    height: 43.9px
            
                svg *
                    .paulo-airaudo-page &
                        fill: $color-green
            .paulo-airaudo-page &
                bottom: 17px
                //width: 180px
                width: auto
                height: calc(min(122.3px, 5vw))
                +max-screen($breakpoint-xl)
                    //width: auto
                    height: 99px
                +max-screen($breakpoint-lg)
                    bottom: 0
                    height: 74.8px
            .logo-fixed
                display: none
            img
                width: 100%
                height: 100%
                object-fit: contain

        &__btn
            margin-top: 35px
            display: flex
            gap: 33px
            +max-screen($breakpoint-lg)
                margin-top: 50px
            .button
                position: relative
                font-family: $font-family-ogg
                font-size: 18px
                font-weight: 700
                padding: 6.5px 8px 3px
                color: #fff
                min-width: 105px
                height: 32px
                border: 1px solid $color-green
                background: $color-green
                +max-screen($breakpoint-xxl)
                    font-size: calc((17px / 100) * 90)
                +max-screen($breakpoint-xl)
                    font-size: calc((17px / 100) * 80)
                +max-screen($breakpoint-lg)
                    height: 28px
                +max-screen($breakpoint-md)
                    font-size: calc((17px / 100) * 70)
                .home &
                    &.booking-btn
                        background-color: $color-light
                        overflow: hidden
                        color: transparent
                        border: 0
                        span
                            background: url(../../../uploads/2023/06/home-slider-1.png)
                            background-size: auto
                            -webkit-text-fill-color: transparent
                            -webkit-background-clip: text
                            display: inline-block
                    .home &, .allure-page &, .lucas-page &, .paulo-airaudo-page &
                        background-color: $color-light
                .page-template-about-page &
                    &.booking-btn
                        background-color: $color-green
                        overflow: hidden
                        color: transparent
                        border: 0
                        span
                            background: url(../../../uploads/2023/06/about-hero.png)
                            background-size: auto
                            -webkit-text-fill-color: transparent
                            -webkit-background-clip: text
                            display: inline-block
                .allure-page &
                    &.booking-btn
                        background-color: $color-light
                        overflow: hidden
                        color: transparent
                        border: 0
                        span
                            background: url(../../../uploads/2023/06/home-slider-2.png)
                            background-size: auto
                            -webkit-text-fill-color: transparent
                            -webkit-background-clip: text
                            display: inline-block
                .paulo-airaudo-page &
                    &.booking-btn
                        color: black
                .home &, .allure-page &, .lucas-page &, .paulo-airaudo-page &
                    border: 1px solid $color-light
                    background: $color-light
                    color: $color-green
                &.booking-btn
                    +max-screen($breakpoint-lg)
                        //display: none
                &.language-btn
                    font-size: 18px
                    color: $color-green
                    min-width: 121px
                    border: 1px solid $color-green
                    border-radius: 0
                    background: transparent
                    +max-screen($breakpoint-lg)
                        min-width: 103px
                    &:after
                        display: none
                    .home &, .allure-page &, .lucas-page &, .paulo-airaudo-page &
                        border: 1px solid #F5F3EF
                        background: transparent
                        color: #F5F3EF
                &.active
                    border: 1px solid #E5E3DA
                    //background: #E5E3DA

// if you are logged in
.logged-in
    header.header
        top: 32px
        @media (max-width: 782px)
            top: 46px
        &.header-fixed
            @media (max-width: 600px)
                top: 0

@keyframes fixedHeader
    0%
        transform: translateY(-100%)
    100%
        transform: translateY(0)


@keyframes unfixedHeader
    0%
        background: #fff
        transform: translateY(0)
    50%
        transform: translateY(-100%)
    100%
        transform: translateY(0)
        //background: transparent
        position: absolute