.not-found
  min-height: 80vh
  text-align: center
  h1
    color: $color-green
    font-size: 180px
    font-weight: 600
    text-transform: uppercase
    margin-bottom: 60px
  span
    font-size: 32px
