.button
    display: inline-flex
    justify-content: center
    align-items: center
    font-size: 18px
    font-weight: 700
    line-height: 1
    text-transform: uppercase
    padding: 3px
    transition: $default-transition
    &.button--transparent-text
        background-color: $color-light
        overflow: hidden
        color: transparent
        border: 0
        span
            background: url(../../../uploads/2023/06/home-slider-1.png)
            background-size: auto
            -webkit-text-fill-color: transparent
            -webkit-background-clip: text
            display: inline-block
            .page-template-paulo-airaudo-page &
                -webkit-text-fill-color: unset
                -background-clip-text: unset
                color: grey
                background-image: none

@keyframes fadeToTop
    to
        transform: translate3d(0, -10px, 0)
        opacity: 0

@keyframes fadeFromBottom
    from
        transform: translate3d(0, 10px, 0)
        opacity: 0
    to
        transform: translate3d(0, 0, 0)
        opacity: 1
