.button
    display: inline-flex
    font-size: 18px
    font-weight: 700
    line-height: 24px
    padding: 5px 15px
    text-transform: uppercase
    &-white
        border: 1px solid #F5F3EF
        background: #F5F3EF
        color: #000
        &-transparent
            border: 1px solid #F5F3EF
            background: transparent
            color: #F5F3EF


@keyframes fadeToTop
    to
        transform: translate3d(0, -10px, 0)
        opacity: 0

@keyframes fadeFromBottom
    from
        transform: translate3d(0, 10px, 0)
        opacity: 0
    to
        transform: translate3d(0, 0, 0)
        opacity: 1
