.wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output
	font-size: 12px
	line-height: 24px
	letter-spacing: 0.05em
	color: #E85757
.wpcf7-response-output
	border: 0px !important
	padding: 0px !important
	display: none !important


.wpcf7-form
	.form-email
		.wpcf7-form-control-wrap
			display: block
			max-width: 463px
			margin: 0 auto
			.wpcf7-email
				width: 100%
				font-size: 27px
				background: transparent
				border: none
				border-bottom: 2px solid $color-green
				padding: 0 8px
				&::placeholder
					text-align: center
					color: rgba(69, 109, 99, .5)
	.form-term
		display: block
		font-size: 20px
		font-weight: 300
		text-align: center
		margin-top: 33px
	.form-submit
		display: flex
		flex-direction: column
		align-items: center
		.wpcf7-submit
			display: flex
			align-items: center
			justify-content: center
			font-size: 13px
			font-weight: 300
			width: 111px
			margin-top: 38px
			padding: 7px 0
	.wpcf7-spinner
		display: block
		margin: 5px auto 0