.wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output
	font-size: 12px
	line-height: 24px
	letter-spacing: 0.05em
	color: #E85757
.wpcf7-response-output
	border: 0px !important
	padding: 0px !important
	display: none !important

.reservation-form
	.wpcf7-form-control
		width: 100%
		height: 80px
		padding: 0 26px
		display: flex
		align-items: center
		justify-content: flex-start
		margin: 0
		.lucas-page &, .paulo-airaudo-page &
			font-family: $font-family-base
			font-size: 29px
			font-weight: 300 !important
			line-height: 1
			text-align: left
			color: #F5F0DF
			background: transparent
			border: 1px solid #F5F0DF
			&::placeholder
				font-family: $font-family-base
				font-size: 29px
				font-weight: 300 !important
				line-height: 1
				text-align: left
				color: #F5F0DF
	.form-title, .form-text
		color: #F5F0DF
		text-align: center
	.form-title
		font-size: 50px
		line-height: 1.16
		.lucas-page &
			font-family: $font-family-giveny
	.form-text
		font-size: 29px
		font-weight: 300
		line-height: .87
		margin-top: 15px
		+max-screen($breakpoint-xxl)
			font-size: calc((29px / 100) * 90)
		+max-screen($breakpoint-xl)
			font-size: calc((29px / 100) * 80)
		+max-screen($breakpoint-lg)
			font-size: calc((29px / 100) * 70)
			margin-top: 39px
		+max-screen($breakpoint-md)
			font-size: 20px
			line-height: 1.5

		.phone
			font-size: 29px
			color: #F5F0DF
			position: relative
			display: inline-block
			+max-screen($breakpoint-xxl)
				font-size: calc((29px / 100) * 90)
			+max-screen($breakpoint-xl)
				font-size: calc((29px / 100) * 80)
			+max-screen($breakpoint-lg)
				font-size: calc((29px / 100) * 70)
			+max-screen($breakpoint-md)
				font-size: 20px
				line-height: 1.5
			&:hover
				cursor: pointer
			&.phone-show
				a
					opacity: 1
					pointer-events: unset
					position: unset
				span
					opacity: 0
					pointer-events: none
					position: absolute
			a
				display: flex
				align-items: center
				justify-content: flex-start
				font-size: 29px
				color: #F5F0DF
				position: absolute
				top: 0
				left: 0
				width: 100%
				height: 100%
				opacity: 0
				transition: $default-transition
				pointer-events: none
				+max-screen($breakpoint-xxl)
					font-size: calc((29px / 100) * 90)
				+max-screen($breakpoint-xl)
					font-size: calc((29px / 100) * 80)
				+max-screen($breakpoint-lg)
					font-size: calc((29px / 100) * 70)
				+max-screen($breakpoint-md)
					font-size: 20px
					line-height: 1.5
			span
				font-size: 29px
				color: #F5F0DF
				transition: $default-transition
				+max-screen($breakpoint-xxl)
					font-size: calc((29px / 100) * 90)
				+max-screen($breakpoint-xl)
					font-size: calc((29px / 100) * 80)
				+max-screen($breakpoint-lg)
					font-size: calc((29px / 100) * 70)
				+max-screen($breakpoint-md)
					font-size: 20px
					line-height: 1.5
	.form-submit
		margin-top: 30px
		width: 100%
		display: flex
		flex-direction: column
		align-items: center
		+max-screen($breakpoint-lg)
			margin-top: 41px
		.button
			font-family: $font-family-giveny
			font-size: 32px
			font-weight: 400
			color: #FFFFFF
			background: #C0AD89
			border: 1px solid #FFFFFF
			max-width: 305px
			width: 100%
			height: 47px
			justify-content: center
			&:hover
				cursor: pointer

.subscribe-form
	.wpcf7-form-control
		max-width: 463px
		width: 100%
		padding: 3px 0px
		display: flex
		align-items: center
		justify-content: center
		font-family: $font-family-gillsans
		font-size: 27px
		line-height: 1
		//color: #456D63
		color: #E5E3DA
		background: transparent
		border: none
		//border-bottom: 2px solid #456D63
		border-bottom: 2px solid #E5E3DA
		+max-screen($breakpoint-md)
			max-width: 189px
			font-size: 20px
		//.allure-page &,
		//.page-template-template-allure &
		//	font-family: $font-family-futurapt
		//	color: #D9C499
		//	border-bottom: 2px solid #D9C499
		.lucas-page &, .paulo-airaudo-page &
			font-family: $font-family-futurapt
			//color: #F5F0DF
			color: #425339
			//border-bottom: 2px solid #F5F0DF
			border-bottom: 2px solid #425339
		&::placeholder
			font-size: 27px
			font-weight: 300
			line-height: 1
			//color: rgba(69, 109, 99, .5)
			color: rgba(229, 227, 218, .5)
			text-align: center
			+max-screen($breakpoint-md)
				font-size: 20px
			//.allure-page &,
			//.page-template-template-allure &
			//	color: rgba(217, 196, 153, .5)
			.lucas-page &, .paulo-airaudo-page &
				//color: rgba(245, 240, 223, .5)
				color: rgba(66, 83, 57, .5)
	.form-title
		font-family: $font-family-ogg
		font-size: 34px
		//color: #456D63
		color: #E5E3DA
		text-align: center
		+max-screen($breakpoint-xxl)
			font-size: calc((34px / 100) * 90)
		+max-screen($breakpoint-xl)
			font-size: calc((34px / 100) * 80)
		+max-screen($breakpoint-lg)
			font-size: calc((34px / 100) * 70)
		+max-screen($breakpoint-md)
			font-size: 25px
		.allure-page &,
		.page-template-template-allure &
			font-family: $font-family-linotypedidot
			//color: #C1AD8A
		.lucas-page &, .paulo-airaudo-page &
			font-family: $font-family-linotypedidot
			//color: #F5F0DF
			color: #425339
		span
			display: block
			font-size: 20px
			+max-screen($breakpoint-xxl)
				font-size: calc((20px / 100) * 90)
			+max-screen($breakpoint-xl)
				font-size: calc((20px / 100) * 80)
			+max-screen($breakpoint-lg)
				font-size: calc((20px / 100) * 70)
	.form-fields
		margin-top: 50px
		display: flex
		justify-content: center
		flex-wrap: wrap
		+max-screen($breakpoint-lg)
			margin-top: 15px
	.form-term
		width: 100%
		margin-top: 33px
		font-size: 20px
		font-weight: 300
		//color: #456D63
		color: #E5E3DA
		text-align: center
		+max-screen($breakpoint-lg)
			margin-top: 20px
		+max-screen($breakpoint-md)
			font-size: 10px
		//.allure-page &,
		//.page-template-template-allure &
		//	color: #D9C499
		.lucas-page &, .paulo-airaudo-page &
			//color: #F5F0DF
			color: #425339
		a
			//color: #456D63
			color: #E5E3DA
			//.allure-page &,
			//.page-template-template-allure &
			//	color: #D9C499
			.lucas-page &, .paulo-airaudo-page &
				//color: #F5F0DF
				color: #425339
	.form-submit
		margin-top: 45px
		width: 100%
		display: flex
		flex-direction: column
		align-items: center
		gap: 7px
		+max-screen($breakpoint-lg)
			margin-top: 39px
		.wpcf7-form-control
			max-width: 111px
			width: 100%
			height: 30px
			font-family: $font-family-gilroy
			font-size: 13px
			font-weight: 300
			color: #E5E3DA
			background: #2D4C42
			//border: 1px solid #2D4C42
			border: 1px solid #E5E3DA
			.allure-page &,
			.page-template-template-allure &
				color: #E5E3DA
				background: #d9c499
				border: 1px solid #E5E3DA
			.lucas-page &, .paulo-airaudo-page &
				font-family: $font-family-giveny
				padding: 5px 3px 3px
				//color: #F5F3EF
				color: #425339
				//background: #A6AB9C
				background: #a6ab9c
				//border: 1px solid #A6AB9C
				border: 1px solid #425339
			&:hover
				cursor: pointer

.key-club-form
	.wpcf7-form-control:not(.wpcf7-submit)
		max-width: 463px
		width: 100%
		padding: 15px 0px
		display: flex
		align-items: center
		justify-content: center
		font-size: 20px
		line-height: 1
		color: #456D63
		background: transparent
		border: none
		border-bottom: 2px solid #456D63
		.allure-page &,
		.page-template-template-allure &
			color: #D9C499
			border-bottom: 2px solid #D9C499
		.lucas-page &, .paulo-airaudo-page &
			color: #F5F0DF
			border-bottom: 2px solid #F5F0DF
		&::placeholder
			font-size: 20px
			font-weight: 300
			line-height: 1
			color: rgba(69, 109, 99, .5)
			text-align: center
			.allure-page &,
			.page-template-template-allure &
				color: rgba(217, 196, 153, .5)
			.lucas-page &, .paulo-airaudo-page &
				color: rgba(245, 240, 223, .5)
	.form-image
		margin: 0 auto
		width: 100%
		display: flex
		align-items: center
		max-width: 286px
		&__wrap
			position: relative
			width: 286px
			height: 0
			overflow: hidden
			padding-bottom: 47.20%
			img
				position: absolute
				top: 0
				left: 0
				width: 100%
				height: 100%
				object-fit: cover
	.form-title
		font-family: $font-family-ogg
		font-size: 30px
		color: #456D63
		text-align: center
		margin-top: 61px
		+max-screen($breakpoint-xxl)
			font-size: calc((30px / 100) * 90)
		+max-screen($breakpoint-xl)
			font-size: calc((30px / 100) * 80)
		+max-screen($breakpoint-lg)
			font-size: calc((30px / 100) * 70)
			margin-top: 0
		+max-screen($breakpoint-md)
			font-size: calc((30px / 100) * 60)
		span
			display: block
			font-family: $font-family-base
			font-size: 20px
			font-weight: 300
			letter-spacing: 1.14px
			margin-bottom: 9px
			+max-screen($breakpoint-xxl)
				font-size: calc((20px / 100) * 90)
			+max-screen($breakpoint-xl)
				font-size: calc((20px / 100) * 80)
			+max-screen($breakpoint-lg)
				font-size: calc((20px / 100) * 70)
		.allure-page &,
		.page-template-template-allure &
			color: #C1AD8A
		.lucas-page &, .paulo-airaudo-page &
			color: #F5F0DF
	.form-fields
		margin-top: 17px
		display: flex
		justify-content: center
		flex-wrap: wrap
	.form-term
		width: 100%
		margin-top: 17px
		font-size: 18px
		font-weight: 300
		color: #456D63
		text-align: center
		.allure-page &,
		.page-template-template-allure &
			color: #D9C499
		.lucas-page &, .paulo-airaudo-page &
			color: #F5F0DF
		a
			color: #456D63
			.allure-page &,
			.page-template-template-allure &
				color: #D9C499
			.lucas-page &, .paulo-airaudo-page &
				color: #F5F0DF
	.form-submit
		margin-top: 15px
		width: 100%
		display: flex
		flex-direction: column
		align-items: center
		gap: 7px
		.wpcf7-form-control
			min-width: 169px
			height: 38px
			font-family: $font-family-ogg
			font-size: 20px
			font-weight: 400
			color: #E5E3DA
			background: #2D4C42
			border: 1px solid #2D4C42
			padding: 6.5px 8px 3px
			.allure-page &,
			.page-template-template-allure &
				color: #F5F3EF
				background: #D9C499
				border: 1px solid #D9C499
			.lucas-page &, .paulo-airaudo-page &
				color: #F5F3EF
				background: #A6AB9C
				border: 1px solid #A6AB9C
			&:hover
				cursor: pointer

.booking-form
	position: absolute
	top: calc(35px + 32px)
	right: 0
	z-index: 100
	max-width: 581px
	width: 100%
	background: #E5E3DA
	padding: 27px 17px 36px
	opacity: 0
	pointer-events: none
	transition: $default-transition
	box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.5)
	+max-screen($breakpoint-xxl)
		transform: scale(0.76)
		transform-origin: top right
	+max-screen($breakpoint-xl)
		transform: scale(0.48)
	+max-screen($breakpoint-lg)
		position: fixed
		top: 0
		right: 0
		bottom: 0
		left: 0
		overflow: auto
		transform: unset
		max-width: 600px
		padding: 97px 14px 84px
		margin: 40px auto calc(40px - 32px)
	+max-screen($breakpoint-md)
		max-width: unset
		padding: 10px 14px
		margin: 0
		display: flex
		align-items: center
	.close-form
		display: none
		+max-screen($breakpoint-lg)
			display: block
			position: absolute
			top: 16px
			right: 24px
			font-size: 40px
			line-height: 1.1
			letter-spacing: -0.88px
			+max-screen($breakpoint-md)
				top: 10px
		//.logged-in &
		//	+max-screen($breakpoint-md)
		//		top: calc(46px + 16px)
	//.logged-in &
	//	+max-screen($breakpoint-md)
	//		padding: calc(97px + 46px) 14px 84px
	&.form-visible
		opacity: 1
		pointer-events: auto
	input
		font-family: $font-family-ogg
		&::placeholder
			font-family: $font-family-ogg
	.form-fields
		display: flex
		flex-wrap: wrap
		+max-screen($breakpoint-md)
			gap: 5px 0
		.nice-select
			font-family: $font-family-ogg
			font-size: 25px
			text-align: center
			color: #2D4C42
			display: flex
			align-items: center
			justify-content: center
			width: 100%
			height: 36px
			background: transparent
			border: 1px solid rgba(45, 76, 66, .53)
			position: relative
			z-index: 10
			padding: 0
			.list
				background: #e5e3da !important
				border: 1px solid rgba(45, 76, 66, .53)
				.option
					font-size: 20px
					background: #e5e3da !important
					transition: $default-transition
					color: #2D4C42
					+max-screen($breakpoint-xl)
						font-size: calc((20px / 100) * 90)
					+max-screen($breakpoint-lg)
						font-size: calc((20px / 100) * 80)
					+max-screen($breakpoint-md)
						font-size: calc((20px / 100) * 70)
					+max-screen($breakpoint-sm)
						font-size: calc((20px / 100) * 60)
					&:hover
						background: #e3d8af !important
			&:after
				width: 10px
				height: 10px
				top: unset
			&:hover
				background: transparent
	.form-date-field
		width: 50%
		display: flex
		flex-direction: column
		+max-screen($breakpoint-md)
			width: 100%
			padding: 0 !important
			align-items: center !important
		label, input
			max-width: 180px
			width: 100%
			color: #2D4C42
		label
			font-family: $font-family-gillsans
			font-size: 17px
			text-align: center
			margin-bottom: 7px
		input
			font-size: 20px
			text-align: center
			padding-bottom: 4px
			border: none
			border-bottom: 2px solid #2D4C42
			background: transparent
			&::placeholder
				font-size: 20px
				color: rgba(45, 76, 66, .5)
				text-align: center
		&:nth-of-type(1)
			align-items: flex-start
			padding-left: 20px
		&:nth-of-type(2)
			align-items: flex-end
			padding-right: 39px
	.form-select-field
		position: absolute
		top: 1px
		right: 8px
		width: 35.21%
		height: 36px
		+max-screen($breakpoint-md)
			margin-right: 42px
			top: 0
			right: 0
			width: 144px
		.nice-select
			padding: 0
			.option
				&:first-of-type
					display: none
	.form-dropdown-fields
		position: absolute
		top: 1px
		right: 8px
		width: 35.21%
		z-index: 20
		+max-screen($breakpoint-md)
			margin-right: 42px
			top: 0
			left: 57.21%
			right: unset
			width: 144px
		&.open
			.field-label
				border-bottom: 0
			.field-content
				opacity: 1
				pointer-events: auto
		.field-label
			font-family: $font-family-ogg
			font-size: 25px
			text-align: center
			color: #2D4C42
			display: flex
			align-items: center
			justify-content: center
			width: 100%
			height: 36px
			background: transparent
			border: 1px solid rgba(45, 76, 66, .53)
			position: relative
			z-index: 10
			padding: 0
			transition: $default-transition
			&:after
				border-bottom: 2px solid #999
				border-right: 2px solid #999
				content: ''
				display: block
				width: 10px
				height: 10px
				margin-top: -4px
				pointer-events: none
				position: absolute
				right: 12px
				top: unset
				transform-origin: 66% 66%
				transform: rotate(45deg)
				transition: all 0.15s ease-in-out
		.field-content
			position: absolute
			top: 36px
			width: 100%
			border: 1px solid rgba(45, 76, 66, .53)
			border-top: 0
			z-index: 10
			background: #e5e3da
			padding: 3px 5px 8px
			opacity: 0
			pointer-events: none
			transition: $default-transition
			.field-item
				font-family: $font-family-gillsans
				font-size: 25px
				color: #2D4C42
				display: flex
				align-items: center
				height: 31px
				.label
					margin-right: auto
					font-size: 20px
					+max-screen($breakpoint-xl)
						font-size: calc((20px / 100) * 90)
					+max-screen($breakpoint-lg)
						font-size: calc((20px / 100) * 80)
					+max-screen($breakpoint-md)
						font-size: calc((20px / 100) * 70)
					+max-screen($breakpoint-sm)
						font-size: calc((20px / 100) * 60)
				input
					background: transparent
					border: none
					width: 22px
					height: auto
					text-align: center
					margin: 0 4px
					font-weight: 600
				.minus, .plus
					position: relative
					display: flex
					align-items: center
					justify-content: center
					width: 20px
					height: 20px
					border-radius: 50%
					background: #fff
					font-weight: 600
					&:after
						position: absolute
						top: 0
						left: 0
						width: 100%
						height: 100%
						font-weight: 300
						display: flex
						align-items: center
						justify-content: center
				.minus:after
					content: '\2212'
				.plus:after
					content: '\002B'

	.form-calendar
		margin-top: 44px
		position: relative
		+max-screen($breakpoint-md)
			margin-top: 20px
	#datepicker
		display: none
	.flatpickr-calendar
		background: transparent
		box-shadow: none
		width: 100%
		&.inline
			max-height: unset
		.flatpickr-months
			margin-bottom: 35px
			padding: 0 8px
			display: flex
			justify-content: flex-start
			position: relative
			z-index: 10
			width: 59.13%
			+max-screen($breakpoint-md)
				width: 100%
				padding: 0
			.flatpickr-prev-month, .flatpickr-next-month, .numInputWrapper
				display: none !important
			.flatpickr-month
				overflow: unset
			.flatpickr-current-month
				display: flex
				align-items: center
				justify-content: center
				left: 0
				top: 0
				width: 100%
				padding: 0
				+max-screen($breakpoint-md)
					width: 144px
					right: 57.21%
					left: unset
				.flatpickr-monthDropdown-months
					+max-screen($breakpoint-md)
						padding-left: 0
		.flatpickr-innerContainer
			//position: relative
			//z-index: 5
		.flatpickr-rContainer
			width: 100%
		.flatpickr-weekdays
			width: 100%
			.flatpickr-weekdaycontainer
				width: 100%
				margin-bottom: 9px
				display: flex
				gap: 29px
				+max-screen($breakpoint-lg)
					gap: 0
			.flatpickr-weekday
				font-family: $font-family-gillsans
				font-size: 17px
				width: calc((100% / 7) - ((29px * 6) / 7))
				flex: calc((100% / 7) - ((29px * 6) / 7))
				color: #2D4C42
				text-transform: uppercase
				+max-screen($breakpoint-lg)
					font-weight: 400
					width: calc(100% / 7)
					flex: calc(100% / 7)
		.flatpickr-days
			width: 100%
			.dayContainer
				width: 100%
				min-width: unset
				max-width: unset
				gap: 18px 29px
				+max-screen($breakpoint-lg)
					gap: 20px 0
				+max-screen($breakpoint-md)
					gap: 0
			.flatpickr-day
				width: calc((100% / 7) - ((29px * 6) / 7))
				flex: calc((100% / 7) - ((29px * 6) / 7))
				max-width: unset
				height: unset
				display: flex
				align-items: center
				justify-content: center
				font-size: 25px
				color: #2D4C42
				border-radius: 0
				transition: $default-transition
				+max-screen($breakpoint-lg)
					width: calc(100% / 7)
					flex: calc(100% / 7)
				&:not(.inRange):hover
					background: #2D4C42
					color: #E5E3DA
					border-color: #2D4C42
				&.today
					border-color: #2D4C42
				&.selected.startRange + .endRange:not(:nth-child(7n+1)),
				&.startRange.startRange + .endRange:not(:nth-child(7n+1)),
				&.endRange.startRange + .endRange:not(:nth-child(7n+1))
					box-shadow: none
				&.endRange, .startRange
					background: #2D4C42
					color: #E5E3DA
					border-color: #2D4C42
				&.startRange, &.endRange, &.inRange
					position: relative
					&:after
						content: ''
						position: absolute
						bottom: 0
						height: 2.5px
						background: #2D4C42
						+max-screen($breakpoint-md)
							bottom: -1px
				&.inRange
					box-shadow: none
					background: transparent
					border-color: transparent
					&:after
						transition: width .3s ease
				&.inRange:not(.firstR):not(.lastR)
					&:after
						width: calc(100% + 32px)
						left: 50%
						transform: translateX(-50%)
						+max-screen($breakpoint-lg)
							width: calc(100% + 2px)
							left: -1px
							transform: unset
				&.inRange.firstR
					&:after
						width: calc(100% + 10px)
						right: -16px
						+max-screen($breakpoint-lg)
							width: calc(100% + 2px)
							right: -1px
							transform: unset
				&.inRange.lastR
					&:after
						width: calc(100% + 10px)
						left: -16px
						+max-screen($breakpoint-lg)
							width: calc(100% + 2px)
							left: -1px
				&.inRange.firstR.lastR
					&:after
						width: calc(100% + 32px)
						left: 50%
						right: unset
						transform: translateX(-50%)
						+max-screen($breakpoint-lg)
							width: calc(100% + 2px)
							left: -1px
							transform: unset
				&.selected
					background: #2D4C42
					color: #E5E3DA
					&:hover, &:focus
						border-color: transparent
				&.flatpickr-disabled
					color: rgba(57,57,57,0.4) !important
					border: none !important
					box-shadow: none !important
					&:hover
						background: transparent !important
						border: none !important
						box-shadow: none !important

	.form-submit
		margin-top: 36px
		width: 100%
		display: flex
		justify-content: center
		.button
			min-width: 259px
			height: 42px
			font-family: $font-family-ogg
			font-size: 21px
			font-weight: 400
			line-height: 1
			color: #E5E3DA
			background: #2D4C42
			border: 1px solid #2D4C42
			&:hover
				cursor: pointer
