.slick-slider
    .slick-dots
        position: absolute
        bottom: 29px
        width: 100%
        display: flex
        justify-content: center
        gap: 11px
        +max-screen($breakpoint-lg)
            bottom: 20px
        .allure-page &
            display: none !important
        li
            display: flex
            align-items: center
            justify-content: center
            width: 14px
            height: 14px
            border-radius: 50%
            border: 1px solid #EFEEEC
            .lucas-page &
                border: 1px solid #425339
            &.slick-active
                background: #EFEEEC
                .lucas-page &
                    background: #425339
            button
                font-size: 0
                width: 100%
                height: 100%
                border: none
                background: transparent
    .slick-arrow
        width: 40px
        height: 124px
        display: flex
        justify-content: center
        align-items: center
        position: absolute
        top: 50%
        z-index: 10
        transform: translateY(-50%)
        border: none !important
        background:  center / cover no-repeat url("../assets/icons/slider-arrow.svg") transparent
        font-size: 0 !important
        transition: $default-transition
        .allure-page &
            width: 39px
            height: 69px
            background:  center / cover no-repeat url("../assets/icons/product-slider-arrow.svg") transparent
            +max-screen($breakpoint-md)
                width: 18px
                height: 32px
        .paulo-airaudo-page &
            width: 23px
            height: 59px
            background:  center / cover no-repeat url("../assets/icons/follow-slider-arrow.svg") transparent
        &.slick-prev
            left: 30px
            transform: translateY(-50%) rotate(180deg)
            .allure-page &
                left: 0
            .paulo-airaudo-page &
                left: 30px
        &.slick-next
            right: 30px
            .allure-page &
                right: 20px
                +max-screen($breakpoint-lg)
                    right: 0
            .paulo-airaudo-page &
                right: 30px

        &.slick-disabled
            opacity: 0


.banner-with-logo, .banner-with-text
    .js-slider
        .slider-item
            display: block !important
            position: relative
            overflow: hidden
            min-height: 600px
            height: 100vh
            +max-screen($breakpoint-lg)
                min-height: 520px
            +max-screen($breakpoint-md)
                min-height: 450px
            &__bg
                position: absolute
                top: 0
                left: 0
                width: 100%
                height: 100%
                img
                    width: 100%
                    height: 100%
                    object-fit: cover
                    .home &
                        +max-screen($breakpoint-md)
                            object-position: 80%
        .slick-arrow
            .lucas-page &, .paulo-airaudo-page &
                display: none !important
        .slick-dots
            +max-screen($breakpoint-lg)
                bottom: 72px
            .lucas-page &, .paulo-airaudo-page &
                +max-screen($breakpoint-lg)
                    bottom: 26px
            li
                border: 1px solid #EFEEEC
                .lucas-page &, .paulo-airaudo-page &
                    border: 1px solid #425339
                &.slick-active
                    background: #EFEEEC
                    .lucas-page &, .paulo-airaudo-page &
                        background: #425339

.js-post-slider
    .slick-track
        margin: 0
    .slick-list
        margin-left: -30px
        +max-screen($breakpoint-md)
            margin-left: -25px
    .slick-slide
        padding: 0 30px
        +max-screen($breakpoint-md)
            padding: 0 25px
    .slick-dots
        bottom: 0
        li
            border: 1px solid #425339
            &.slick-active
                background: #425339
    .slick-track
        +max-screen($breakpoint-md)
            padding-bottom: 52px

.js-follow-slider
    .slick-slide
        padding: 0 30px
        +max-screen($breakpoint-md)
            padding: 0 25px
        +max-screen($breakpoint-sm)
            padding: 0

